*{
    margin: 0PX;
}
.nav-bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

h1{
    font-size: 55px;
    
}

.size{
    font-size: 25px;
}

.color{
    color: red;
}
.nav-bar-iteam {
    font-size: 20px;
    display: flex;
 
}

.nav-bar-iteam li {
    list-style: none;
    margin: 20px;
}

.front-page{
    display: flex;
    background-color: black;
    color: white;
}

.font-size{
    font-size: 65px;
    margin-bottom: 10px;
}

.introduction{
    padding-top: 12%;
    padding-left: 60px;
    margin-bottom: 12%;
}

.image-size img{
    width: 90%;
   
}

.button{
    background-color: red;
    border: 1px solid red;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover{
    background-color: rgb(3, 0, 165);
    border: blue;
}

.font-position{
    padding-top: 60px;
    text-align: center;
}

.box{
    border: 2px solid gray;
    width: 20%;
    height: 40%;
    margin: 10px;
    padding: 20px;
    box-shadow: 10PX 10PX 30PX gray;

    margin-top: 20px;

    
}

.box:hover{
    border-color: green;
    margin: -1px;
    transition: 1ms;
    box-shadow: 10px 10px 30px green;
}

.box img{
    width: 90px;
    padding-left: 90px;

}

.card{
    display: flex;
    justify-content: space-around;
}

